header {
    background-image: linear-gradient(rgba(121, 162, 243, 0.704), rgba(3, 23, 81, 0.866)), url("assets/_.jpeg");
    background-position: center;
}

.letra-color {
    background: linear-gradient(to right,rgb(246, 193, 48), rgb(255, 233, 93), rgb(255, 230, 104));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.icono-gigante {
    font-size: 5rem;
    padding: 5px 10px;
}

.img-proyecto{
    width: 100%;
}

.icono-contacto{
    font-size: 3rem;
    color: black;
    margin: 4px 8px;

}

#contacto{
    height: 80vh;
}